/* ---------------------------------------------- */
/* VARIÁVEIS */
/* ---------------------------------------------- */
:root {
   /* CORES */
   --rich-black-fogra-29_a85: hsla(207, 24%, 7%, 0.85);
   --rich-black-fogra-29_a75: hsla(207, 24%, 7%, 0.75);
   --rich-black-fogra-29: hsl(207, 24%, 7%);
   --rich-black-fogra-39: hsl(210, 25%, 5%);
   --dark-orange: hsl(32, 100%, 50%);
   --light-gray: hsl(206, 8%, 82%);
   --white_a10: hsla(0, 0%, 100%, 0.1);
   --white_a60: hsla(0, 0%, 100%, 0.6);
   --camel: hsl(27, 34%, 58%);
   --white: hsl(0, 0%, 100%);

   /* GRADIENTE */
   --gradient: linear-gradient(to top, hsla(210, 25%, 5%, 0.95) 0, hsla(210, 24%, 7%, 0.45) 70%, hsla(207, 24%, 7%, 0) 100%);

   /* TIPOGRAFIAS */
   --ff-oswald: "Oswald", sans-serif;
   --ff-roboto: "Roboto", sans-serif;
   --ff-merienda: "Merienda", cursive;

   --fs-1: 5rem;
   --fs-2: 3.2rem;
   --fs-3: 2.4rem;
   --fs-4: 2.2rem;
   --fs-5: 1.4rem;
   --fs-6: 1.3rem;

   --fw-400: 400;
   --fw-500: 500;
   --fw-600: 600;

   /* ESPAÇAMENTO */
   --section-padding: 70px;

   /* BORDAS */
   --radius-circle: 50%;
   --radius-5: 5px;

   /* TRANSIÇÕES */
   --transition-1: 0.25s ease;
   --transition-2: 0.5s ease;
   --transition-3: 0.75s ease;
   --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
   --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/* ---------------------------------------------- */
/* RESET */
/* ---------------------------------------------- */

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

li {
   list-style: none;
}

a,
img,
span,
data,
button,
ion-icon {
   display: block;
}

a {
   color: inherit;
   text-decoration: none;
}

img {
   height: auto;
}

button {
   background: none;
   border: none;
   border: inherit;
   cursor: pointer;
}

ion-icon {
   pointer-events: none;
}

html {
   font-family: var(--ff-roboto);
   font-size: 10px;
   scroll-behavior: smooth;
}

body {
   background-color: var(--rich-black-fogra-29);
   color: var(--white_a60);
   font-size: 1.6rem;
   line-height: 1.75;
   overflow-x: hidden;
   height: 300vh;
}

body.active {
   overflow: hidden;
}

:focus-visible {
   outline-offset: 4px;
}

::selection {
   background-color: var(--camel);
   color: var(--white);
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
   background-color: hsl(0, 0%, 70%);
}

::-webkit-scrollbar-thumb:hover {
   background-color: hsl(0, 0%, 70%);
}

/* ---------------------------------------------- */
/* REUSED STYLE */
/* ---------------------------------------------- */

.container {
   padding-inline: 16px;
}

.w-100 {
   width: 100%;
}

.btn {
   color: var(--white);
   display: flex;
   align-items: center;
   gap: 3px;
   max-width: max-content;
   padding: 18px 20px;
   font-size: var(--fs-6);
   font-weight: var(--fw-500);
   text-transform: uppercase;
   letter-spacing: 0.5px;
   line-height: 1;
   border-radius: var(--radius-5);
   transition: var(--transition-1);
}

.btn-primary {
   background-color: var(--camel);
}

.btn-secondary {
   background-color: var(--rich-black-fogra-29);
}

.btn:is(:hover, :focus-visible) {
   background-color: var(--white);
   color: var(--camel);
}

.btn ion-icon {
   font-size: unset;
}

/* ---------------------------------------------- */
/* HEADER */
/* ---------------------------------------------- */

/* .navbar, */
.header-top {
   display: none;
}

.header-bottom {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   background-color: var(--rich-black-fogra-29);
   padding-block: 20px;
   z-index: 4;
}

.header-bottom.active {
   position: fixed;
   border-block-end: 1px solid var(--white_a10);
   animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
   0% {
      transform: translateY(-100%);
   }
   110% {
      transform: translateY(0);
   }
}

.logo {
   width: 118px;
}

.header :is(.logo, .nav-open-btn) {
   position: relative;
   z-index: 2;
}

.header-bottom .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-open-btn .span {
   width: 25px;
   height: 2px;
   background-color: var(--white);
   margin-block: 10px;
   transition: var(--transition-1);
}

.nav-open-btn.active .span:first-child {
   transform: rotate(45deg) translateY(8px);
}

.nav-open-btn.active .span:last-child {
   transform: rotate(-45deg) translateY(-8px);
}

.navbar {
   position: fixed;
   bottom: 100%;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: var(--rich-black-fogra-39);
   padding: 130px 16px;
   z-index: 1;
   transition: 0.5 var(--cubic-in);
   transition-delay: 0.5s;
   visibility: hidden;
}

.navbar.active {
   transform: translateY(100%);
   visibility: visible;
   transition: 0.75s var(--cubic-out);
   transition-delay: 0s;
}

.navbar > * {
   opacity: 1;
   transition-delay: 0.75s;
}

.navbar-link {
   color: var(--white);
   font-size: var(--fs-3);
   font-weight: var(--fw-500);
   text-transform: uppercase;
   margin-block-end: 5px;
   transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible) {
   color: var(--camel);
}

.navbar .btn {
   margin-block-start: 25px;
}
